@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

.button-primary {
    // bouton
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 198px;
    height: 40px;
    left: 1162px;
    top: 28px;
    background: linear-gradient(138.29deg, #0B2FD3 -13.21%, #ED25F8 116.97%);
    border-radius: 6px;
    border: none;
    // texte du bouton
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.button-primary-lg {
    // bouton
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;
    width: 519px;
    height: 40px;
    left: 1162px;
    top: 28px;
    background: linear-gradient(138.29deg, #0B2FD3 -13.21%, #ED25F8 116.97%);
    border-radius: 6px;
    border: none;
    // texte du bouton
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.content-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 191px;
    gap: 4px;
}
.content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}

.form-style {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.imput-style {
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px 13px;
gap: 10px;
width: 247.5px;
height: 44px;
background: #FFFFFF;
border-radius: 8px;
}

.imput-style-mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 13px;
    gap: 10px;
    width: 519px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
}

.poppins-white {
    font-family: 'Poppins';
    font-style: normal;
    color: rgba(255, 255, 255, 1);
}
.poppins-subtitle-dark {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
letter-spacing: -0.011em;
color: #333847;
}
.poppins-subtitle-white {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}
.poppins-title-dark {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 150%;
letter-spacing: -0.011em;
color: #040A1D;
}
.poppins-title-white {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #F2F2F3;
}
.bg-dark-custom {
    padding: 150px;
}
